@import "mixins"
@import "colors"

$main-x-padding: 20px

.main-wrapper
  height: 100%
  background: map-get($plain, 'background')
  &__container
    width: calc(1200px - $main-x-padding)
    padding: 0 $main-x-padding
    margin: 0 auto
  &--body
    flex: auto

@media (max-width: 1200px)
  .main-wrapper
    &__container
      width: 100%

*
  margin: 0
  padding: 0

body
  @include scrollbars(12px)

body, html, #app
  height: 100%

.d-flex
  display: flex

.g
  @for $variable from 1 through 16
    &a-#{$variable}
      @include getGap($variable)
    &x-#{$variable}
      @include getGap(0, $variable)
    &y-#{$variable}
      @include getGap($variable, 0)

.flex
  &-col
    flex-direction: column
  &-row
    flex-direction: row

.justify
  &-start
    justify-content: flex-start
  &-end
    justify-content: flex-end
  &-center
    justify-content: center
  &-space-between
    justify-content: space-between
  &-around
    justify-content: space-around

.align
  &-baseline
    align-items: baseline
  &-center
    align-items: center

.kusakabe-icon
  &-color
    transition: .3s stroke
    stroke: map-get($plain, 'black')
    &_fill
      stroke: transparent
      fill: map-get($plain, 'black') !important
    &__transparent
      stroke: transparent
  &-cursor
    &_inherit
      cursor: inherit
    &_default
      cursor: default
    &_pointer
      cursor: pointer
